:root {
    --main-color: #194d33;
    --accent: #fce9e9;
    --text-color: #333;
    --highlight: #ecf9f2;
}

html, body {
    font: 16px Arial,sans-serif;
}
header, footer {
    background-color: var(--highlight);
    border: .2em solid var(--main-color);
    border-radius: 7px;
    margin: .5em;
    padding: .5em;
}
h1 {
    font-size: 2.0em;
}
h2 {
    color: var(--text-color);
    font-size: 1.75em;
}
article > h2, section > h2 {
    background-color: var(--accent);
    border-top: .1em solid var(--main-color);
    border-bottom: .1em solid var(--main-color);
    color: var(--text-color);
    font-size: 1.75em;
    padding: .25em 0px;
}
article > h3, section > h3 {
    color: var(--main-color);
    font-size: 1.5em;
}

article, section {
    margin: .5em;
    padding: .5em;
}
article > aside {
    margin: .2em 1.2em;
}
img {
    width: 90%;
}

header nav > a, section nav > a {
    display: block;
}

header nav > a {
    margin: .2em;
    padding: .5em;
}

section nav > a {
    margin: .1em;
    padding: .1em;
}


header nav > a:hover {
    background-color: var(--main-color);
    color: white;
}

footer > address, footer > nav {
    margin: .2em .1em;
    padding: .1em;
}

/* bonus */
ul {
  margin: .5em;
}

ul > li {
    border-bottom: .05em solid var(--text-color);
    list-style-type: circle;
    padding: .2em;
    padding-bottom: .5em;
}
ul > li:last-child {
    border-bottom: 0px;
}

@media screen and (min-width: 768px) {
    img {
        width: 400px;
    }
    aside {
        display: inline;
        float: left;
    }
    header nav > a {
        display: inline-block;
    }
    footer {
        clear: both;
    }
}